html{
    font-size: 62.5%;  
}

body{
    font-size: 16px;
    background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}

:root{
    --morado: rgb(69, 17, 151);
    --gris: rgb(177, 177, 177);
    --white: rgb(205, 204, 207);
    --negro: rgb(0, 0, 0);
}


.logo{
    text-align: center;
    font-size: 5rem;
    color: var(--negro);
}

.logo svg{
    padding-right: 1rem;
    color: var(--negro)

}

.contenedor{
    max-width: 120rem;
    margin: auto;
}

.nav-bg{
    background-color: var(--morado);
}

.navegador{
    background-color: var(--morado);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
}
.navegador a{
    color: var(--white);
    text-decoration: none;
}

.navegador a:hover{
    background-color:var(--white);
    color: var(--negro);
}
@media(max-width:480px){
    
    .navegador{
        flex-direction: column;
        justify-content: space-between;
    }
}

.lastventas{
    text-align: center;
    margin: 20px 40px ;
    background-color: var(--gris);
    border-radius: 1rem;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.5);
box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.5);

}
.lastventas h2{
    margin-top: .5rem;
    padding-top: 1rem;
}

.lastventas ul{
    display: flex;
    padding: 0%;
    width: 400%;
    animation: cambio 20s infinite alternate;
}

.lastventas li{
    width: 100%;
    list-style: none;
}

.lastventas img{
    max-width: 70% ;
    height: 50rem;
    padding: 2rem;
    position: relative;
}
.nosotros{
    display: flex;
    flex-direction:column;
    text-align: center;
    background-color: rgb(177 177 177 /85% );
    margin: 1.5rem 5rem;
    color: var(--negro);
    font-size: larger;
    border-radius: 1rem;
    text-align: justify;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.5);

}
.nosotros p{
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nosotros h2{
    text-align: center;
}


@media(width:480px){
    .nosotros{
        display: flex;
        flex-direction: column;
    }

}

@keyframes cambio{
    0%{margin-left: 0; }
    20%{margin-left: 0; }

    25%{margin-left: -100%; }
    45%{margin-left: -100%; }

    50%{margin-left: -200%; }
    70%{margin-left: -200%; }

    75%{margin-left: -300%; }
    100%{margin-left: -300%; }
}

.redes{
    text-align: center;
    background-color: var(--morado);
    color: var(--white);
}

.pie{
    text-align: center;
    
}

.descus{
    text-align: center;
    background-color: var(--morado);
    color: var(--white);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 15rem;
}

.descus p{
    font-size: 2rem;
}
.personalizacion{
    background-color: var(--gris);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 15rem;
    -webkit-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.5);
box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.5);
max-width: 110rem;
    

}

.personalizacion select{
    width: 70rem;
    font-size: 2.5rem;
    text-align: center;
}
.personalizacion select:hover{
    cursor: pointer;
}
.personalizacion p{
    font-size: 3rem;
}

.cont-boton{
    display: flex;
    flex-direction: column;
}

.boton{
    background-color: var(--morado);
    font-size: 3rem;
    color:var(--white);
    text-decoration: none;
    padding: 1rem;
    margin: 2rem;
    border-radius: 1rem;

}

.boton:hover{
    cursor: pointer;
}

@media(max-width:480px){
    .descus{
        flex-direction: row;
        justify-content: space-between;     
        width: 80%;
        margin: auto;
        margin-top: 2rem;

    }
    .personalizacion{
        flex-direction: row;
        justify-content: space-between;   
        width: 80%;
        margin: auto;
        margin-top: 2rem;
    }
    .personalizacion select{
        flex-direction: row;
        justify-content: space-between;  
        width: 100%;
    }

    .personalizacion option{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

    }
    .cont-boton{
        margin-top: 1rem;
        width: 95%;
    }
    .boton{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: auto;
    }
}
.form-cont{
    text-align: center;
    background-color: var(--gris);
    -webkit-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.5);
    margin: 3rem 10rem;
    border-radius: 2rem;
    display: block;
}
.campo label{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .8rem;
    display: block;
}

.input-text{
    width: 90%;
    border: none;
    padding: 1.2rem;
    border-radius: 1rem;
}

.direc{
    text-align: center;
    display: block;
    margin-top: 2rem;
    
}
.direc a{
    text-decoration: none;
    font-size: 4rem;
    font-weight: bold;
    
}

.pago{
    text-align: center;
    max-width: 100%;
    margin: .5rem 20rem;
  
}
.pago p{
    font-size: 2rem;
    font-weight: bold;
}
.pago select{
    width: 40rem;
    font-size: 1.8rem;
}
.cont-pago{
    max-width: 100%;
    background-color: var(--gris);
    border-radius: 2rem;
    -webkit-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.5);
box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.5); 

}
.cont-pago select{
    max-width: 100%;
}

@media(max-width:480px){
    .pago{
        flex-direction: row;
        justify-content: space-between;     
        width: 100%;
        margin: auto;
        margin-top: 2rem;
    }

    .boton{
        margin-top: 2rem;
    }
}






